root = true

# All files
[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# SQL files
[*.sql]
indent_size = 4

# JSON/YAML
[*.{json,yml,yaml}]
indent_size = 2

# XML files
[*.{xml,csproj,props,targets}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off
